<!-- Loop over each object in the projects array -->
<div class="container-fluid">
<div class="card">
  <div class="p-3 mb-2 bg-secondary text-white">
    The art of coding s
  </div>
  <div class="card-body">
    <h5 class="card-title">The art of coding additional tile</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
  </div>
</div>

  <div class="card-header  ">
    The art of working out 
  </div>
  <div class="card-body">
    <h5 class="card-title">The art of working out additional tile</h5>
    <p class="card-text">Wakeup and workout.</p>
  </div>
</div>
</div>
