<!-- Loop over each object in the projects array -->
<div class="jumbotron">  
  <div class="jumbotron">  
    <h3>Create New Post</h3>
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Title</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="insertblogtitle" class="form-text">Please enter description</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Content</label>
        <input type="password" class="form-control" id="insertblogcontent">
      </div>
      <div class="mb-3 text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
  <div class="text-center">
      <button type="submit" class="btn btn-primary">New Post</button>
  </div>
</div>
