/* 
Eloy Gonzalez
04/28/2021
add changes css style to page
*/
header, .project:not(:last-child) {
  border-bottom: 3px solid darkgray;
}
h1{
 
  background-color: #056605;
  border: 4px solid gray;
  border-radius: 8px;
}

body{
  background-color: lightgray;
}
header{
  background-color: lightsteelblue;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}
